body {
    font-family: 'Signika Negative', sans-serif;
    overflow: auto;
}

.gameplay {
    height: 100vh;
}

.gameplay-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1023px) {
    .gameplay-body {
        height: 95%;
    }
}
