.html {
}

.body{
    margin: 0px;
    font-family: 'IBM Plex Mono', monospace;
}

.home-begin, .home-settings, .home-about, .settings {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 200px;

    border: 10px solid black;
    border-radius: 5px;
    text-align: center;
}

#begin-button, #settings-button, #about-button {
    text-decoration: none;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 40px;
}

/********************* styling for gameplay page *******************/
.home-settings {
    margin-top: 50px;
}

.home-about {
    margin-top: 150px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    font-family: "IBM Plex Mono", monospace;
}

.topnav button {
    font-family: "IBM Plex Mono", monospace;
    float: right;
}

.user-input, .random-words{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.user-input {
    margin-left: -115px;
}

.user-input label, .answered_input label{
    font-family: "IBM Plex Mono", monospace;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 15px;
}

.random-words {
    font-size: 24px;
    padding-top: 50px;
    margin-top: 20px;
    margin-left: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
}

.random-words button {
    font-family: "IBM Plex Mono", monospace;
    padding: 5px;
    margin: 2px;
}

.guess-button {
    position: absolute;
    top: 64%;
    left: 75%;
    margin-top: -50px;
    margin-left: -100px;
}

.erase-button {
    position: absolute;
    top: 100%;
    left: 65%;
    margin-top: -50px;
    margin-left: -100px;
}

.answered_input {
    position: relative;
    left: 35%;
    align-items: center;
    margin-top: 30px;
}

.answered_input label {
    margin-right: 5px;
    padding: 10px;
}
/*******************************************************
/************* styles for settings page ****************/
.settings {
    border: 2px solid black;
    display: block;
    padding: 20px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
    width: 250px;
}
.settings div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.settings-attempts input, .settings-word-length input {
    width: 50px;
}

.settings-attempts label > input{
    margin-left: 18px;
}

.settings-word-length label > input {
    margin-left: 65px;
}

