.keyboard-container {
    align-items: center;
    max-width: fit-content;
    margin: 0 auto 0 auto;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-key, .enter-key, .erase-key {
    color: white;
    background-color: #818384;
    border: none;
    border-radius: 3px;
    margin: 3px;
    padding: 5px;
}

.keyboard-key:hover, .enter-key:hover, .erase-key:hover {
    cursor: pointer;
}

.enter-key, .erase-key {
    font-weight: bold;
    text-align: center;
}

.fa-backspace {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    .keyboard-key, .enter-key, .erase-key {
        font-size: 1.3rem;
        width: 1.8rem;
        height: 2.8rem;
    }

    .enter-key, .erase-key {
        font-size: 0.8rem;
        width: 3.5rem;
    }

    .erase-key {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 401px) and (max-width: 576px) {

    .keyboard-key, .enter-key, .erase-key {
        font-size: 1.3rem;
        width: 2.1rem;
        height: 3rem;
    }

    .enter-key, .erase-key {
        font-size: 0.8rem;
        width: 3.5rem;
    }

    .erase-key {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .keyboard-key, .enter-key, .erase-key {
        font-size: 1.3rem;
        width: 3rem;
        height: 4rem;
    }

    .enter-key, .erase-key {
        font-size: 1rem;
        width: 5rem;
    }

    .erase-key {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .keyboard-key, .enter-key, .erase-key {
        font-size: 1.3rem;
        width: 3.5rem;
        height: 4.5rem;
    }

    .enter-key, .erase-key {
        font-size: 1rem;
        width: 5.5rem;
    }

    .erase-key {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .keyboard-key, .enter-key, .erase-key {
        font-size: 1.3rem;
        width: 3.5rem;
        height: 4.5rem;
    }

    .enter-key, .erase-key {
        font-size: 1rem;
        width: 5.5rem;
    }

    .erase-key {
        font-size: 1.5rem;
    }
}
