.okay-button, .no-button {
    margin: 0 10px;
    border: none;
    background-color: inherit;
    padding: 10px;
}

.okay-button:hover, .no-button:hover {
    cursor: pointer;
    border: solid black 1px;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 9px;
}