* {
}
body {
    margin: 0;
    background-color: #121213;
    /*font-family: 'IBM Plex Mono', monospace;*/
    font-family: 'Signika Negative', sans-serif;

    display: none;
}

.home-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/********************* styles for home page ******************************/
.game-name {
    margin-top: 20px;
    font-size: 100px;
    color: #f5f5f5;
}

.home-begin, .home-settings, .home-about, .home-feedback{
    width: 200px;
    margin-top: 20px;
    border: 2px solid #3a3a3c;
    border-radius: 5px;
    text-align: center;
    color: #f5f5f5;
}

#begin-button, #begin-version2-button, #settings-button, #about-button, #about-feedback {
    text-decoration: none;
    font-weight: 600;
    font-size: 40px;
    border: none;
    background: none;
    color: #f5f5f5;
    padding: 10px;
}

#begin-button:hover, #about-button:hover, #settings-button:hover, #about-feedback:hover, #begin-version2-button:hover {
    cursor: pointer;
}

#about-feedback {
    font-size: 30px;
}
#about-button {
    font-size: 35px;
}
/********************* styling for gameplay page *******************/

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    font-weight: 700;
}

.top-nav label {
    order: 1;
    margin-right: auto;
}

.top-nav .btn {
    order: 3;
}

#new-word-button, #gameplay-home-button, #about-home-button {
    background-color: #aaec78;
    border-radius: 5px;
    border: none;
    font-family: "IBM Plex Mono", monospace;
    width: 70px;
    margin-left: auto;
}
#new-word-button {
    /*margin-left: 350px;*/
    height: 45px;
}

#new-word-button i{
    margin-left: 5px;
}
.top-nav button:hover {
    cursor: pointer;
}

#gameplay-home-button, #about-home-button {
    width: 50px;
    padding: 10px;
    position: relative;
    left: 0px;
    font-size: 20px;
    margin-left: 20px;
}

.user-input, .random-words, .erase-button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.user-input label, #answer_container label{
    font-family: "IBM Plex Mono", monospace;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 15px;
}

.divider {
    border: 1px solid purple;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
}
.random-words {
    font-size: 24px;
    padding-top: 50px;
    margin-top: 20px;
    margin-left: -110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 180px;
}

.random-words button {
    font-family: "IBM Plex Mono", monospace;
    padding: 8px;
    margin: 5px;

    border: none;
    border-radius: 5px;
    background-color: #aaec78;
}
.random-words button:hover{
    cursor: pointer;
}
.guess-button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 15px;
    margin-left: 100px;
}

#guessit {
    font-family: "IBM Plex Mono", monospace;
    border: none;
    border-radius: 5px;
    background-color: #aaec78;
    padding: 10px;
}
#guessit:hover{
    cursor: pointer;
}

.erase-button{
    margin-top: 215px;
    margin-left: 130px;
}

#erase {
    font-family: "IBM Plex Mono", monospace;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #aaec78;
}

#erase:hover{
    cursor: pointer;
}

#answer_container {
    border: 2px solid black;
    max-width: 200px;
    height: max-content;
    min-height: 200px;
    display: block;
    position: relative;
    align-items: center;
    margin: 20px 0px 0px 10px;
    padding-left: 20px;

}
#answer_container h3 {
    font-weight: 500;
    margin: 20px auto;
    font-style: italic;
}

#answer_container div {
    margin-bottom: 25px;
}

#answer_container label {
    margin-right: 5px;
    padding: 10px;
}

/*******************************************************/
/************* styles for settings page ****************/

.settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border: black solid 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .settings {
        width: 80%;
    }
}

@media only screen and (min-width: 601px) {
    .settings {
        width: 50%;
    }
}

.settings-settings {
    margin-top: 0px;
    /*background-color: indianred;*/
    padding: 10px;
    border-bottom: solid #3a3a3c 1px;
    color: #f5f5f5;
}

.settings-title {
    margin: 10px;
}

.settings div {
    padding-top: 30px;
}

.settings-word-length, .settings-attempts {
    padding-bottom: 10px;
}

.settings-attempts input, .settings-word-length input {
    width: 50px;
}

.settings-attempts label > input{
    margin-left: 18px;
}

.settings-word-length label > input {
    margin-left: 65px;
}

.settings-doneB {
    padding-bottom: 15px;
}

#settings-done-button {
    background-color: #aaec78;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "IBM Plex Mono", monospace;

    /*position: relative;*/
    /*left: 30%;*/
    padding: 10px 30px 10px 30px;
}

#settings-done-button:hover {
    cursor: pointer;
}

/*******************************************************
/************* styles for about page ****************/
.top-nav {
    border-bottom: solid #3a3a3c 1px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav button {
    background-color: #dcdcdc;
    border: none;
    border-radius: 5px;
    width: 5vw;
    height: 5vh;
}

.about-title {
    flex-grow: 1;
    text-align: left; /* Change text alignment to left */
    font-size: 30px;
    color: #f5f5f5;
    order: 1; /* Change order of element to come first */
    margin: 10px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 35px;
    order: 2; /* Change order of element to come last */
}

.fa-refresh, .fa-home {
    color: #dcdcdc;
    margin: 0 2vw;
}

.fa-refresh:hover, .fa-home:hover {
    cursor: pointer;
}

.about{
    margin-top: 10px;
    margin-left: 10px;
}

.about-rules {
    border: solid black 3px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 5px;
    color: #a9a9a9;
    font-family: "IBM Plex Mono", monospace;
}

h4 {
    text-decoration: underline;
}

p a{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #5e5c5c;
}

.about h2, .about h4, .about p {
    margin-bottom: 10px;
}

#about-home-button {
    margin-right: 10px;
}

/*******************************************************
/************* styles for feedback page ****************/
* {
    margin: 0;
}

.Feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
}

.feedback-nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-bottom: 5px;
    border-bottom: solid #3a3a3c 1px;
    color: #f5f5f5;
}

.feedback-nav h1 {
    margin-left: 10px;
}

/* feedback button*/
#feedback-new-form{
    background-color: #8d8d8d;
    border-radius: 5px;
    border: none;
    font-family: "IBM Plex Mono", monospace;
    height: 70px;
    margin-top: 30px;
    margin-left: 10px;
}

#feedback-new-form:hover {
    cursor: pointer;
}

/* feedback form */
/* feedback form */
.feedback-form {
    background-color: #141415;
    margin: 10px auto;
    width: 480px;
    padding: 20px;
    position: relative;
    justify-content: center;
    justify-items: center;
    display: block;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    z-index: 102;

    color: white;

    /*animation*/
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#feedback-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#feedback-close:hover {
    cursor: pointer;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.85);
}

.feedback-tainted {
    background: rgba(0,0,0,0.5);
}

.feedback-form-name input, .feedback-form-feedback textarea{
    background-color: #141415;
    color: white;
}

.feedback-form-name label {
    margin-right: 10px;
}

.feedback-form-feedback textarea {
    margin-top: 15px;
}

.feedback-form-name, .feedback-form-feedback {
    margin-bottom: 20px;
}

#feedback-new-form {
    background-color: inherit;
}

.feedback-box {
    margin: 10px;
    padding: 10px;
    border: 5px solid #ec8181;
    border-radius: 5px;

    color: #F0D1D1;
}

.feedback-box h2{
    margin-bottom: 10px;
}

.feedback-box p{
    margin-bottom: 5px;
}

.timestamp {
    font-size: 12px;
    font-style: italic;
    /*color: #414040;*/
    color: #7e7e7e;
}

input[type=text], textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}