html {
}
body {
    margin: 0;
    background-color: rgba(205, 92, 92, 0.72);
    font-family: 'IBM Plex Mono', monospace;
}

.home-content-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/********************* styles for home page ******************************/
.game-name {
    margin-top: 20px;
    font-size: 100px;
}

.home-begin, .home-settings, .home-about, .home-feedback{
    width: 200px;
    margin-top: 20px;
    border: 10px solid black;
    border-radius: 5px;
    text-align: center;
}

#begin-button, #settings-button, #about-button, #about-feedback {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 40px;

    border: none;
    background: none;
}

#begin-button:hover, #about-button:hover, #settings-button:hover, #about-feedback:hover {
    cursor: pointer;
}

#about-feedback {
    font-size: 37px;
}
/********************* styling for gameplay page *******************/

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    font-weight: 700;
}

.top-nav label {
    order: 1;
    margin-right: auto;
}

.top-nav .btn {
    order: 3;
}

#new-word-button, #gameplay-home-button, #about-home-button {
    background-color: #aaec78;
    border-radius: 5px;
    border: none;
    font-family: "IBM Plex Mono", monospace;
    width: 70px;
    margin-left: auto;
}
#new-word-button {
    /*margin-left: 350px;*/
    height: 45px;
}

#new-word-button i{
    margin-left: 5px;
}
.top-nav button:hover {
    cursor: pointer;
}

#gameplay-home-button, #about-home-button {
    width: 50px;
    padding: 10px;
    position: relative;
    left: 0px;
    font-size: 20px;
    margin-left: 20px;
}

.user-input, .random-words, .erase-button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.user-input label, #answer_container label{
    font-family: "IBM Plex Mono", monospace;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 15px;
}

.divider {
    border: 1px solid purple;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
}
.random-words {
    font-size: 24px;
    padding-top: 50px;
    margin-top: 20px;
    margin-left: -110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 180px;
}

.random-words button {
    font-family: "IBM Plex Mono", monospace;
    padding: 8px;
    margin: 5px;

    border: none;
    border-radius: 5px;
    background-color: #aaec78;
}
.random-words button:hover{
    cursor: pointer;
}
.guess-button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 15px;
    margin-left: 100px;
}

#guessit {
    font-family: "IBM Plex Mono", monospace;
    border: none;
    border-radius: 5px;
    background-color: #aaec78;
    padding: 10px;
}
#guessit:hover{
    cursor: pointer;
}

.erase-button{
    margin-top: 215px;
    margin-left: 130px;
}

#erase {
    font-family: "IBM Plex Mono", monospace;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #aaec78;
}

#erase:hover{
    cursor: pointer;
}

#answer_container {
    border: 2px solid black;
    max-width: 200px;
    height: max-content;
    min-height: 200px;
    display: block;
    position: relative;
    align-items: center;
    margin: 20px 0px 0px 10px;
    padding-left: 20px;

}
#answer_container h3 {
    font-weight: 500;
    margin: 20px auto;
    font-style: italic;
}

#answer_container div {
    margin-bottom: 25px;
}

#answer_container label {
    margin-right: 5px;
    padding: 10px;
}

/*******************************************************/
/************* styles for settings page ****************/

.settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border: black solid 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .settings {
        width: 80%;
    }
}

@media only screen and (min-width: 601px) {
    .settings {
        width: 50%;
    }
}

/*.settings {*/
/*    border: 2px solid black;*/
/*    display: block;*/
/*    padding: 20px;*/
/*    text-align: left;*/
/*    width: 250px;*/
/*}*/

.settings-settings {
    margin-top: 0px;
    background-color: indianred;
    padding: 10px;
}

.settings div {
    padding-top: 30px;
}

.settings-word-length, .settings-attempts {
    padding-bottom: 10px;
}

.settings-attempts input, .settings-word-length input {
    width: 50px;
}

.settings-attempts label > input{
    margin-left: 18px;
}

.settings-word-length label > input {
    margin-left: 65px;
}

.settings-doneB {
    padding-bottom: 15px;
}

#settings-done-button {
    background-color: #aaec78;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "IBM Plex Mono", monospace;

    /*position: relative;*/
    /*left: 30%;*/
    padding: 10px 30px 10px 30px;
}

#settings-done-button:hover {
    cursor: pointer;
}

/*******************************************************
/************* styles for about page ****************/
.nav-about {
    padding: 0;
}

.about{
    margin-top: 10px;
    margin-left: 10px;
}

.about-rules {
    border: solid black 3px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 5px;
}

h4 {
    text-decoration: underline;
}

p a{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #5e5c5c;
}

.about h2, .about h4, .about p {
    margin-bottom: 10px;
}

/*******************************************************
/************* styles for feedback page ****************/
* {
    margin: 0;
}

.Feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
}

.feedback-nav {
    background-color: indianred;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-bottom: 5px;
}

.feedback-nav h1 {
    margin-left: 10px;
}

#feedback-home-button {
    background-color: #aaec78;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin-right: 10px;
}

#feedback-home-button:hover {
    cursor: pointer;
}

#feedback-new-form{
    background-color: #aaec78;
    border-radius: 5px;
    border: none;
    font-family: "IBM Plex Mono", monospace;
    height: 70px;
    margin-top: 30px;
    margin-left: 10px;
}

#feedback-new-form:hover {
    cursor: pointer;
}

.feedback-form {
    margin: 10px auto;
    border: black solid 5px;
    border-radius: 10px;
    width: 480px;
    padding: 20px;
    position: relative;
    justify-content: center;
    justify-items: center;
    display: block;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    background-color: #e8b9b9;
    z-index: 102;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.85);
}

.feedback-tainted {
    background: rgba(0,0,0,0.5);
}

.feedback-box {
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
}

.timestamp {
    font-size: 12px;
    font-style: italic;
    color: #414040;
}

input[type=text], textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}