html {
}

body{
    /*background-color: #cca3a3;*/
    background-color: rgba(205, 92, 92, 0.72);
    margin: 0px;
    font-family: 'IBM Plex Mono', monospace;
}
/********************* styles for home page ******************************/
.game-name {
    text-align: center;
    margin-top: 8%;
    font-size: 100px;
}

.home-begin, .home-settings, .home-about, .settings{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 200px;

    border: 10px solid black;
    border-radius: 5px;
    text-align: center;
}

#begin-button, #settings-button, #about-button {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 40px;

    border: none;
    background: none;
}

#begin-button:hover, #about-button:hover, #settings-button:hover {
    cursor: pointer;
}
/********************* styling for gameplay page *******************/
.home-settings {
    margin-top: 50px;
}

.home-about {
    margin-top: 150px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}

#new-word-button, #gameplay-home-button {
    background-color: #aaec78;
    border-radius: 5px;
    border: none;
    font-family: "IBM Plex Mono", monospace;
    width: 70px;
    position: relative;
    left: 33%;
}
#new-word-button i{
    margin-left: 5px;
}
.top-nav button:hover {
    cursor: pointer;
}

#gameplay-home-button {
    width: 50px;
    padding: 10px;
    position: relative;
    left: 0px;
    font-size: 20px;
}
.user-input, .random-words, .erase-button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.user-input label, #answer_container label{
    font-family: "IBM Plex Mono", monospace;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 15px;
}

.divider {
    border: 1px solid purple;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
}
.random-words {
    font-size: 24px;
    padding-top: 50px;
    margin-top: 20px;
    margin-left: -110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 180px;
}

.random-words button {
    font-family: "IBM Plex Mono", monospace;
    padding: 8px;
    margin: 5px;

    border: none;
    border-radius: 5px;
    background-color: #aaec78;
}
.random-words button:hover{
    cursor: pointer;
}
.guess-button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 15px;
    margin-left: 100px;
}

#guessit {
    font-family: "IBM Plex Mono", monospace;
    border: none;
    border-radius: 5px;
    background-color: #aaec78;
    padding: 10px;
}
#guessit:hover{
    cursor: pointer;
}

.erase-button{
    margin-top: 215px;
    margin-left: 130px;
}

#erase {
    font-family: "IBM Plex Mono", monospace;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #aaec78;
}

#erase:hover{
    cursor: pointer;
}

#answer_container {
    border: 2px solid black;
    max-width: 200px;
    height: max-content;
    min-height: 200px;
    display: block;
    position: relative;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    padding-left: 20px;
}
#answer_container h3 {
    font-weight: 500;
    margin-top: 5px;
    font-style: italic;
}

#answer_container div {
    margin-bottom: 25px;
}

#answer_container label {
    margin-right: 5px;
    padding: 10px;
}

/*******************************************************
/************* styles for settings page ****************/

.settings {
    border: 2px solid black;
    display: block;
    padding: 20px;
    text-align: left;
    width: 250px;
}

.settings-settings {
    margin-top: 0px;
    background-color: indianred;
    padding: 10px;
}

.settings div {
    padding-top: 30px;
}

.settings-word-length, .settings-attempts {
    padding-bottom: 10px;
}

.settings-attempts input, .settings-word-length input {
    width: 50px;
}

.settings-attempts label > input{
    margin-left: 18px;
}

.settings-word-length label > input {
    margin-left: 65px;
}

.settings-doneB {
    padding-bottom: 15px;
}

#settings-done-button {
    background-color: #aaec78;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "IBM Plex Mono", monospace;

    position: relative;
    left: 30%;
    padding: 10px 30px 10px 30px;
}

#settings-done-button:hover {
    cursor: pointer;
}

/*******************************************************
/************* styles for about page ****************/
.about{
    margin-left: 10px;
}

h4 {
    text-decoration: underline;
}

p a{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #5e5c5c;
}