.hint_navbar {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--button-border-color);
    border-radius: 10px;
}

.hint_navbar div {
    margin: 0 0;
    padding: 10px;
    color: #3a3a3c;
    border-radius: 10px;
    cursor: pointer;
}

.selected {
    background: var(--label-color);
    color: var(--button-border-color);
}

.hint-definition {
    margin: 0 20px;
}

.get-definition {
    display: flex;
    align-items: center;
}

.hint-get-def-button, .hint-next-button {
    background: none;
    border: 1px solid var(--label-color);
    border-radius: 10px;
    padding: 5px;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.hint-get-button:hover, .hint-next-button:hover {
    background-color: var(--label-color);
    color: black;
}
